@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto&display=swap');

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

/* ------------------------------- 2. Typography ----------------------------------- */

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

:root {

    --paars: #5722CD;
    --blauw: #4845E4;
    --roze: #ED4385;
    --zwart: #0C0C0C;
    --lichtpaars: #F2F0FF;
    --lichtgrijs: #F3F6F9;
    --grijs: #7A7A7A;

}


/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Header ---------------------------------------- */

header {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    background-color: var(--blauw);
}


ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    outline: 1px black;
    justify-content: flex-end;
}


/* --------------- 4.1 Introduction  ------------------------- */

/* --------------- 4.2 Areas ------------------- */

/* ------------------------------- 5. Media Queries -------------------------------- */